* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* css3 新属性 设置了边距不会影响盒子的宽高 */
}

/* 版心 */
.w {
    width: 1190px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

li {
    list-style: none;
}

.clearfix:after {
    content: ""; 
    display: block; 
    height: 0;
    clear: both;
    visibility: hidden;
}
