@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?79nha6');
    src:  url('../fonts/icomoon.eot?79nha6#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?79nha6') format('truetype'),
      url('../fonts/icomoon.woff?79nha6') format('woff'),
      url('../fonts/icomoon.svg?79nha6#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

body {
    background-color: rgb(242, 242, 242);
}

body a:hover {
    color: #e2231a;
}

/* 顶部开始 */
.top {
    height: 80px;
    background-color: rgb(47, 13, 29);
    position: relative;
}

.top .top-container {
    position: relative;
    height: 100%;
    width: 1190px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(https://img30.360buyimg.com/da/jfs/t1/77866/8/13108/64252/5da51e83E359aa7da/95d397fd59af5ea9.jpg);
}

.top a {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
}

.top a:hover {
    cursor: pointer;
}

.top .top-close {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 8px;
    background-color: rgba(255, 255, 255, 0.2);
    font-family: "icomoon";
    font-size: 32px;
}

.top .top-close:hover {
    cursor: pointer;
}

/* 顶部通栏结束 */

/* 快捷导航栏开始 */
.shortcut {
    height: 30px;
    background-color: #e3e4e5;
    border-bottom: 1px solid #ddd;
}

.shortcut li {
    line-height: 30px;
    list-style: none;
    float: left;
    margin: 0 10px;
    font-size: 12px;
}

.shortcut li .shortcut-register {
    color: #f20215;
}

.spacer {
    font-style: normal;
    height: 10px;
    width: 1px;
    color: #ccc;
    margin: 11px 5px 0;
}

.shortcut li a {
    text-decoration: none;
    color: #999;
    font-size: 12px;
    line-height: 30px;
}

.shortcut li a:hover {
    /* color: rgb(256, 21, 28) */
    color: #f20215;
}

.icon-arrow_down {
    font-family: 'icomoon';
    font-style: normal;
}
/* 快捷导航栏结束 */

/* header开始 */
.header {
    background-color: #fff;
}

.header .w {
    height: 140px;
    position: relative;
}

.header .logo_scene_img {
    position: absolute;
    display: block;
    width: 134px;
    height: 120px;
    background-image: url(https://img1.360buyimg.com/da/jfs/t1/16273/9/11655/153805/5c90a4f3E683206d9/eef283b0ed619fe4.gif?v=0.9212624875344684);
    left: 0;
}

.header .search-m {
    position: relative;
    height: 60px;
    /* overflow: hidden; */
    /* z-index: 1; */
}

.search-m input {
    width: 421px;
    height: 26px;
    padding: 2px 44px 2px 17px;
    border: 0;
    line-height: 26px;
    outline: none;
    color: #989898;
}

.search-m .searchBtn {
    /* float: right; */
    position: absolute;
    width: 58px;
    height: 32px;
    right: 0;
    top: 0;
    background-color: #e2231a;
    outline: none;
    border: 0;
}

.search-m span {
    font-family: "icomoon";
    position: absolute;
    right: 75px;
    font-size: 20px;
    color: #4d4d4d;
    top: 5px;
}

.search-m span, .searchBtn:hover {
    cursor: pointer;
}

.search-m .searchBtn i {
    font-family: 'icomoon';
    font-style: normal;
    font-size: 25px;
    color: white;
}

.header .form {
    position: absolute;
    height: 32px;
    left: 260px;
    top: 25px;
    width: 546px;
    border: 2px solid #e2231a;
    background-color: #fff;
}

/* 热词 */
.header .hotwords {
    position: absolute;
    height: 20px;
    width: 550px;
    left: 260px;
    font-size: 12px;
    line-height: 20px;
    margin-top: 5px;
}

.hotwords a {
    text-decoration: none;
    color: #999;
    margin: 0 3px;
}

.hotwords a:hover {
    color: #e2231a;
}

/* 导航条 */
.header .navitems {
    position: absolute;
    left: 203px;
    bottom: 0;
    width: 758px;
    height: 60px;
    border-top: 20px;
}

.navitems ul {
    float: left;
}

.navitems li {
    list-style: none;
    float: left;
}

.navitems a {
    float: left;
    bottom: 0;
    margin: 20px 10px 0;
    font-size: 15px;
    color: #666;
    line-height: 40px;
    text-decoration: none;
}

.navitems a:hover {
    color: #e2231a;
}

/* 购物车 */
.header #settleup {
    position: absolute;
    top: 25px;
    right: 230px;
    height: 32px;
    z-index: 21;
    font-size: 12px;
    color: #e2231a;
    line-height: 32px;
    cursor: pointer;
}

.cw-icon span {
    position: absolute;
    font-family: 'icomoon';
    color: #e2231a;
    font-size: 20px;
    width: 36px;
    height: 36px;
    top: 0px;
    left: 20px;
}

.cw-icon em {
    position: absolute;
    left: 45px;
    height: 32px;
    font-style: normal;
}

#settleup .cw-icon {
    left: 0;
    top: 0;
    width: 130px;
    height: 34px;
    border: 1px solid #eee;
}

.header .promo_lk {
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url(https://img11.360buyimg.com/babel/jfs/t1/51527/4/12973/28693/5d9ee893E89a7c8ff/a4e756f1a7fce70a.png.webp);
    display: block;
    width: 190px;
    height: 120px;
}
/* header 结束 */

/* 内容1开始 */
.mod_container {
    height: 500px;
    background-color: pink;
}
/* 内容1结束 */

/* footer 开始 */
.footer {
    height: 570px;
}

.footer .mod_service {
    height: 103px;
    border-bottom: 1px solid #dedede;
    overflow: hidden;
}

.footer .mod_service_inner {
    margin: 30px 0;
    height: 42px;
}

.mod_service  ul {
    width: 1190px;
    height: 42px;
    margin: 0 auto;
}

.mod_service_list li {
    float: left;
    line-height: 42px;
    width: 297px;
    height: 42px;
    list-style: none;
}

.footer .mod_service_unit {
    height: 42px;
    padding-left: 45px;
    width: 180px;
    overflow: hidden;
}

.mod_service_unit .mod_service_tit {
    position: absolute;
    left: 0;
    top: 0;
    width: 36px;
    height: 42px;
}

.mod_service_unit .mod_service_txt {
    overflow: hidden;
    width: 100%;
    height: 42px;
    font-size: 18px;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #444;
}

/* 多 */
.mod_service_unit .mod_service_duo {
    background-image: url(https://misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/img/23f3ddf914b1b527d0429a3d713cfe3a.png);
    background-repeat: no-repeat;
    background-position: 0 -192px;
}

/* 快 */
.mod_service_unit .mod_service_kuai {
    background-image: url(https://misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/img/23f3ddf914b1b527d0429a3d713cfe3a.png);
    background-repeat: no-repeat;
    background-position: -41px -192px;
}

/* 好 */
.mod_service_unit .mod_service_hao {
    background-image: url(https://misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/img/23f3ddf914b1b527d0429a3d713cfe3a.png);
    background-repeat: no-repeat;
    background-position: -82px -192px;
}

/* 省 */
.mod_service_unit .mod_service_sheng {
    background-image: url(https://misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/img/23f3ddf914b1b527d0429a3d713cfe3a.png);
    background-repeat: no-repeat;
    background-position: -123px -192px;
}

/* 帮助 */
.footer .mod_help {
    padding: 20px 0;
    overflow: hidden;
}

.footer .mod_help_inner {
    margin: 0 auto;
    width: 1190px;
}

.footer .mod_help_list {
    overflow: hidden;
    /* height: 160px; */
}

.footer .mod_service_unit {
    position: relative;
    width: 180px;
    margin: 0 auto;
}

.mod_help_nav li {
    list-style: none;
    line-height: 22px;
}

.mod_help_nav li a {
    font-family: "Microsoft YaHei", "Heiti SC", tahoma, arial, "Hiragino Sans GB", 宋体, sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: #999;
}

.mod_help .mod_help_nav {
    width: 198px;
    float: left;
}

.mod_help_nav_tit {
    font-size: 14px;
    margin-bottom: 5px;
    color: #666;
}

.mod_help_cover_tit {
    font-size: 14px;
    margin-bottom: 5px;
    color: #666;
    margin-bottom: 15px;
}

.mod_help_cover {
    float: right;
    text-align: center;
    margin-right: 0;
    width: 200px;
    height: 150px;
    background-image: url(https://misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/img/23f3ddf914b1b527d0429a3d713cfe3a.png);
}

.mod_help_cover_info {
    text-align: left;
    font-size: 12px;
    font-weight: normal;
    color: #666;
    line-height: 22px;
}

.mod_help_cover_more a {
    float: right;
    text-decoration: none;
    font-size: 12px;
    color: #666;
    /* display: block; */
}

.mod_help_cover_more a:hover {
    color: #e2231a;
}

/* copyright */
.mod_copyright_inner {
    border-top: 1px solid #e1e1e1;
}

.mod_copyright_links {
    margin-top: 10px;
    text-align: center;
    height: 18px;
}

.mod_copyright_links a {
    font-size: 12px;
    color: #666;
    line-height: 18px;
    text-decoration: none;
    font-family: "Microsoft YaHei", tahoma, arial, "Hiragino Sans GB", "\\5b8b体", sans-serif;
}

.mod_copyright_links span {
    color: #ccc;
    font-size: 12px;
    margin: 0 10px;
    text-align: center;
}

/* footer 结束 */