/* 顶部开始 */
.top {
    height: 80px;
    background-color: rgb(47, 13, 29);
    position: relative;
}

.top .top-container {
    position: relative;
    height: 100%;
    width: 1190px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(https://img30.360buyimg.com/da/jfs/t1/77866/8/13108/64252/5da51e83E359aa7da/95d397fd59af5ea9.jpg);
}

.top a {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
}

.top a:hover {
    cursor: pointer;
}

.top .top-close {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 8px;
    background-color: #fff;
}

.top .top-close:hover {
    cursor: pointer;
}

/* 顶部通栏结束 */

/* 快捷导航栏开始 */
.shortcut {
    height: 30px;
    background-color: #e3e4e5;
    border-bottom: 1px solid #ddd;
}

.shortcut li {
    line-height: 30px;
    list-style: none;
    float: left;
    margin: 0 10px;
    font-size: 12px;
}

.shortcut li .shortcut-register {
    color: #f20215;
}

.spacer {
    font-style: normal;
    height: 10px;
    width: 1px;
    color: #ccc;
    margin: 11px 5px 0;
}

.shortcut li a {
    text-decoration: none;
    color: #999;
    font-size: 12px;
    line-height: 30px;
}

.shortcut li a:hover {
    /* color: rgb(256, 21, 28) */
    color: #f20215;
}

/* 快捷导航栏结束 */